<div class="articles_card_content">
	<img src="{{photo}}" alt="photo">
	<div class="articles_card_name">{{name}}</div>
	<p class="articles_text">{{description}}</p>
	<a href="#" class="articles_button">Read All</a>
	{{#if isNew}}
	<div class="card_badge">NEW</div>
	{{/if}}
</div>