<div class="articles_card_content" id="{{id}}">
	<div class="articles_badge">
		{{#if isNew}}
		<div class="card_badge">NEW</div>
		{{/if}}
		<img src="{{photo}}" alt="photo">
	</div>
	<div class="articles_card_name">{{name}}</div>
	<p class="articles_text">{{description}}</p>
	<a href="#" class="articles_button">Read All</a>

</div>